@media (max-width: 768px) {
  
  .thumbnail {
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  
  #widthChecker {
    display: block;
  }
  
  .thumbnail .overlay {
    display: block;
    background-color: rgba(0,0,0,0);
  }
}

@media (max-width: 690px) {
  
  nav {
    right: 30px;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  #name {
    margin-left: 30px;
  }
 
}

@media (max-width: 750px) {
  #content {
    margin-left: 40%;
  }
}


@media (max-width: 602px) {
  
  header {
    position: static;
  }
  
  .spacer {
    display: none;
  }
  
  #name {
    float: none;
    margin: 10px auto;
    text-align: center;
    max-width: 100%;
  }
  
  h1 {
    margin: 0 auto;
  }
  
  nav {
    text-align: center;
    float: none;
    position: static;
    max-width: 100%;
    margin: 10px auto;
  }
  
  #about, #resume {
    margin-top: 0;
  }
  
  #about {
    margin-bottom: 0;
  }  
  
  #description {
    position: static;
    height: auto;
    width: 100%;
    max-width: 100%;
    margin:  0 auto;
  }
  
  #description p {
    margin: 0 5% 0 5%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .descriptionSpacer {
    display: none;
  }

  .contentSpacer {
    display: none;
  }
  
  #content {
    margin: 0 auto;
  }
}
